<h2>
  You've been invited!
</h2>

<p>
Follow this link to add your times to the Scribble:
</p>
<p>

<%= link_to @invitation.link, "http://#{@invitation.link}" %>
</p>


<p>
Thanks For Using Our Service,<br />
<i>Scribble</i>
</p>
